* {
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style: none;
}

.show-area {
  height: 100%;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
  background-size: 1800% 1800%;
  animation: rainbow 18s ease infinite;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.show-area > li {
  width: 350px;
  height: 250px;
  margin: 10px;
  border-radius: 5px;
  text-align: center;
  vertical-align: middle;
  font: 20px/1 'microsoft-yahei', sans-serif;
  background-color: rgba(205, 205, 205, 0.3);
}
.show-area > li > * {
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }

  50% {
    background-position: 100% 19%;
  }

  100% {
    background-position: 0% 82%;
  }
}
