#moving-cloud{
  background-color: RGBA(0, 195, 217, 1.00) !important;
  >.cloud{
    width: 100%;
    height: 100%;
    background: no-repeat url(https://i.loli.net/2018/09/22/5ba63a20c0b09.png
    );
    animation: move 10s linear infinite;
  }
}
@keyframes move{
  from {
    background-position: 0;
  }
  to {
    background-position: -5440px;
  }
}
