.rainbow-loading {
  position: relative;
  width: 100%;
  height: 50%;
  border-bottom: 1px solid rgba(0, 0, 0, .3);
  overflow: hidden;

  >li {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0deg);
    border: 20px solid;
    border-left-color: transparent !important;
    border-bottom-color: transparent !important;
    border-radius: 50%;
    box-shadow: 0 0 10px #ccc;
    animation: animate 3s infinite alternate;

    &:nth-child(1) {
      width: 50px;
      height: 50px;
      border-color: #FF0000;
      animation-delay: .2s;
    }

    &:nth-child(2) {
      width: 90px;
      height: 90px;
      border-color: #FF7100;
      animation-delay: .4s;
    }

    &:nth-child(3) {
      width: 130px;
      height: 130px;
      border-color: #F9FF00;
      animation-delay: .6s;
    }

    &:nth-child(4) {
      width: 170px;
      height: 170px;
      border-color: #00FF00;
      animation-delay: .8s;
    }

    &:nth-child(5) {
      width: 210px;
      height: 210px;
      border-color: #4200FF;
      animation-delay: 1s;
    }

    &:nth-child(6) {
      width: 250px;
      height: 250px;
      border-color: #570083;
      animation-delay: 1.2s;
    }

    &:nth-child(7) {
      width: 290px;
      height: 290px;
      border-color: #A700D5;
      animation-delay: 1.4s;
    }
  }
}

@keyframes animate {
  0% {
    transform: translate(-50%, -50%) rotate(-45deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(315deg);
  }
}
